@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
.comment-container {
    .date {
        color: rgb(122, 122, 122);
        font-weight: 100;
        font-size: .6em;
        margin-right: 1em;
        text-transform: capitalize;
    }

    .comment {
        margin-left: 2em;
        font-size: 1.4em;
        font-family: 'PT Serif', serif;
    }


}