// Define color variables
$crimson: crimson;
$red: rgb(241, 23, 23);
$blue: rgb(0, 85, 255);
$aquamarine: aquamarine;
$light-gray: rgb(234, 234, 234);
$green: rgba(0, 255, 162, .3);
.Display {

    margin-top: 1em;
   
    padding: 2em;
    
    time{
        color: $crimson;
        font-weight: 600;
        font-style: italic;
    }
    span{
        color: $red;
        font-weight: 700;
        font-style: italic;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    strong{
        color: $blue;
        font-weight: 500;
        font-style: italic;
        font-size: 1.3em;
        text-transform: capitalize;
    }
    p{
        font-size: 1.1em;
    }

    

    h1::first-letter {
        text-transform: capitalize;
    }

    h3 {
        text-transform: capitalize;
    }

    .img {
        padding: 1em;
        img {
            filter: brightness(70%);
            transition: all .8s ease-in;
            box-shadow: 15px 15px 10px $green;
            max-height: 20em;
            width: 100%;
            

            &:hover {
                
                transform: rotateZ(-5deg) rotateY(5deg);
                filter: brightness(100%);
            }
            
        }
    }
}
