.footer
{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 4em;
    padding: 3em 2em;
    background-color:rgba(0, 180, 117, 0.4);
    
    border-radius: 1em;
    span{
        color: crimson;
        font-size: 1.4em;

    }
   
}