
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
.carousel-category
{
    font-family: 'Kalam', cursive;
    font-size: 23px;
    color:red;
}
.carousel-tittle
{
    font-size: 23px;
    font-family: 'Sriracha', cursive;
    color:rgb(255, 255, 255)
}   