.head
{
    font-size: 2em;
    color: rgb(255, 0, 0);
    background-color: aqua;
    padding: .3em;
    text-decoration: none;
    border-radius: 2em 3em 2em 1.6em;
    cursor: pointer;
    transition-duration: .5s;
    &:hover{
        background-color: aquamarine;
        border-radius: 3em 2em 1em 3.6em;
        color: blue;
    }
}
.link-style
{
    
    color: rgb(3, 116, 255);
    text-decoration: solid;
    transition-duration: 1s;
    &:hover{
        background-color: aquamarine;
    padding: .3em;
    border-radius: 1.5em;
    text-decoration: none;
    }
}
.log-style
{
    color:red ;
    text-decoration: none;
    &:hover{
        color:red ;
        text-decoration: underline;
    }
}

.footer
{
    margin-top: 1em;
    img 
    {
        width: 4em;
    }
    span 
    {
        width: 4em;
    }
}
.link-style-write{
    background-color: aquamarine;
    padding: .3em;
    border-radius: 1.5em;
    text-decoration: none;
    transition-duration: .5s; 
    &:hover{
        background-color: rgb(255, 0, 0);
        color: rgb(255, 255, 255);
    }
}