.write-container{
    margin-top: 3em;
    .menu{
        display: flex;
        flex-direction: column;
        gap:1em;
    }
    .content{
        display: flex;
        flex-direction: column;
        gap:1em;
        .editorContainer{
            width: 100%;
            height: 300px;
            overflow: scroll;
            .editor{
                height: 100%;;
            }
        }
    }
    
}

.dropzone {
    width: 100%;
    height: 100px;
    border: 2px dashed #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .dropzone p {
    margin: 0;
  }
  
  .dropzone:hover {
    background-color: #f8f8f8;
  }
  
  .selected-image {
    max-width: 100%;
    height: auto;
  }